services:
  mysql:
    image: mysql:8.0
    restart: unless-stopped
    env_file: 
      .env
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    env_file: 
      .env
    ports:
      - "8080:80"
    depends_on:
      - mysql

volumes:
  mysql_data: